@using BoothDotDev.Common.Data
@using BoothDotDev.Common.Data.Blog
@using BoothDotDev.Common.Services
@using DEDrake
@using Humanizer
@using Microsoft.AspNetCore.Mvc

<div id="searchbox" style="margin-bottom: 2em">
    <input id="searchInput" autofocus="" placeholder="Filter posts ..." aria-label="search" type="search"
           autocomplete="off" maxlength="64" @bind="SearchText" @bind:event="oninput" @onkeyup="OnKeyUp"/>
</div>

<div class="wide-wrapper">
    <table class="table hover wide admin">
        <thead>
        <tr>
            <th style="width: 40%">Title</th>
            <th>Author</th>
            <th>Published</th>
            <th>Last updated</th>
            <th style="width: 12em">Actions</th>
        </tr>
        </thead>

        <tbody>
        @foreach (IBlogPost post in DisplayedPosts)
        {
            DateTimeOffset lastUpdated = post.Updated ?? post.Published;
            <tr>
                <td>
                    @switch (post.Visibility)
                    {
                        case Visibility.Published:
                            <small class="badge green">published</small>
                            <text>&nbsp;</text>
                            break;
                        case Visibility.Private:
                            <small class="badge red">private</small>
                            <text>&nbsp;</text>
                            break;
                        case Visibility.Unlisted:
                            <small class="badge yellow">unlisted</small>
                            <text>&nbsp;</text>
                            break;
                    }
                    @if (post.IsRedirect)
                    {
                        <small class="badge blue">redirect</small>
                        <text>&nbsp;</text>
                    }
                    @post.Title
                    <br>
                    <small class="muted">Post ID: <abbr title="@post.Id">@((ShortGuid)post.Id)</abbr></small>
                </td>
                <td>
                    <img src="@post.Author.AvatarUrl" alt="" style="vertical-align: middle; display: inline-block">
                    @post.Author.DisplayName
                    <br>
                    <small class="muted">User ID: <abbr
                            title="@post.Author.Id">@((ShortGuid)post.Author.Id)</abbr></small>
                </td>
                <td><abbr title="@post.Published.ToString("F")">@post.Published.Humanize()</abbr></td>
                <td><abbr title="@lastUpdated.ToString("F")">@lastUpdated.Humanize()</abbr></td>
                <td>
                    <a href="/blog/@post.Published.ToString("yyyy/MM/dd")/@post.Slug"
                       class="btn btn-success btn-sm">👁️</a>
                    <a asp-page="/Admin/Blog/Edit" asp-route-id="@post.Id" class="btn btn-primary btn-sm">✏️</a>
                    <a asp-page="/Admin/Blog/Delete" asp-route-id="@post.Id" class="btn btn-danger btn-sm">🗑️</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>

@code {

    [Inject]
    private IBlogPostService BlogPostService { get; set; } = null!;

    [BindProperty]
    private IReadOnlyList<IBlogPost> BlogPosts { get; set; } = [];

    [BindProperty]
    private IReadOnlyList<IBlogPost> DisplayedPosts { get; set; } = [];

    private string SearchText { get; set; } = string.Empty;

    /// <inheritdoc />
    protected override void OnInitialized()
    {
        BlogPosts = BlogPostService.GetEverySingleBlogPost();
        DisplayedPosts = BlogPosts;
    }


    private void OnKeyUp(KeyboardEventArgs e)
    {
        DoSearch();
    }

    private void DoSearch()
    {
        const StringSplitOptions splitOptions = StringSplitOptions.RemoveEmptyEntries | StringSplitOptions.TrimEntries;
        const StringComparison comparison = StringComparison.OrdinalIgnoreCase;

        string[] keywords = SearchText.Split(' ', splitOptions);
        DisplayedPosts = keywords.Length == 0 ? BlogPosts : BlogPosts.Where(post => keywords.All(kw => post.Title.Contains(kw, comparison))).ToArray();
    }

}
