@using BoothDotDev.Common.Data
@using BoothDotDev.Common.Data.Blog
@using DEDrake
@using Humanizer

<div id="searchbox" style="margin-bottom: 2em">
    <input id="searchInput" autofocus="" placeholder="Filter posts ..." aria-label="search" type="search"
           autocomplete="off" maxlength="64" @bind="_searchText" @bind:event="oninput" @onkeyup="OnKeyUp"/>
</div>

<div class="wide-wrapper">
    <table class="table hover wide admin">
        <thead>
        <tr>
            <th style="width: 40%">Title</th>
            <th>Author</th>
            <th>Published</th>
            <th>Last updated</th>
            <th style="width: 12em">Actions</th>
        </tr>
        </thead>

        <tbody>
        @foreach (IBlogPost post in _displayedPosts)
        {
            DateTimeOffset lastUpdated = post.Updated ?? post.Published;
            <tr>
                <td>
                    @switch (post.Visibility)
                    {
                        case Visibility.Published:
                            <small class="badge green">published</small>
                            <text>&nbsp;</text>
                            break;
                        case Visibility.Private:
                            <small class="badge red">private</small>
                            <text>&nbsp;</text>
                            break;
                        case Visibility.Unlisted:
                            <small class="badge yellow">unlisted</small>
                            <text>&nbsp;</text>
                            break;
                    }
                    @if (post.IsRedirect)
                    {
                        <small class="badge blue">redirect</small>
                        <text>&nbsp;</text>
                    }
                    @post.Title
                    <br>
                    <small class="muted">Post ID: <abbr title="@post.Id">@((ShortGuid)post.Id)</abbr></small>
                </td>
                <td>
                    <img src="@post.Author.AvatarUrl" alt="" style="vertical-align: middle; display: inline-block">
                    @post.Author.DisplayName
                    <br>
                    <small class="muted">User ID: <abbr
                            title="@post.Author.Id">@((ShortGuid)post.Author.Id)</abbr></small>
                </td>
                <td><abbr title="@post.Published.ToString("F")">@post.Published.Humanize()</abbr></td>
                <td><abbr title="@lastUpdated.ToString("F")">@lastUpdated.Humanize()</abbr></td>
                <td>
                    <div class="input-group">
                        <a href="/blog/@post.Published.ToString("yyyy/MM/dd")/@post.Slug"
                           class="btn btn-success btn-sm"><i data-lucide="view"></i></a>
                        <a href="/admin/blog/edit/@post.Id" class="btn btn-primary btn-sm">
                            <i data-lucide="pencil"></i>️
                        </a>
                        <a asp-page="/Admin/Blog/Delete" asp-route-id="@post.Id" class="btn btn-danger btn-sm">
                            <i data-lucide="trash-2"></i>
                        </a>
                    </div>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>
