@page
@using BoothDotDev.Common.Data
@using BoothDotDev.Common.Data.Blog
@using BoothDotDev.Common.Services
@model BoothDotDev.Pages.Blog.Archive
@inject IBlogPostService BlogPostService

@{
    ViewData["Page"] = "Archive";
}

<header class="page-header">
    <h1>
        Archive
        <a asp-controller="Rss" asp-action="OnGet" title="RSS" aria-label="RSS">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" height="23">
                <path d="M4 11a9 9 0 0 1 9 9"></path>
                <path d="M4 4a16 16 0 0 1 16 16"></path>
                <circle cx="5" cy="19" r="1"></circle>
            </svg>
        </a>
    </h1>
</header>

@{
    IEnumerable<IBlogPost> posts = BlogPostService.GetAllBlogPosts().Where(p => p.Visibility == Visibility.Published);

    foreach (IGrouping<int, IBlogPost> yearGroup in posts.GroupBy(p => p.Published.Year))
    {
        <div class="archive-year">
            <h2 class="archive-year-header">
                @yearGroup.Key
                <sup class="archive-count">&nbsp;&nbsp;@yearGroup.Count()</sup>
            </h2>

            @foreach (IGrouping<int, IBlogPost> monthGroup in yearGroup.GroupBy(p => p.Published.Month))
            {
                <div class="archive-month">
                    <h3 class="archive-month-header">
                        @(new DateTime(yearGroup.Key, monthGroup.Key, 1).ToString("MMMM"))
                        <sup class="archive-count">&nbsp;&nbsp;@monthGroup.Count()</sup>
                    </h3>

                    <div class="archive-posts">
                        @foreach (IBlogPost post in monthGroup)
                        {
                            IBlogAuthor author = post.Author;
                            DateTimeOffset published = post.Published;
                            int wordCount = post.Body.Split().Length;

                            <div class="archive-entry">
                                <h3 class="archive-entry-title entry-hint-parent">
                                    @post.Title
                                </h3>
                                <div class="archive-meta">
                                    <span title="@(published.ToString("s"))">@published.ToString("D")</span>
                                    &nbsp;·
                                    @Math.Max(1, wordCount / 275) min
                                    ·
                                    @wordCount words
                                    ·
                                    @author.DisplayName
                                </div>

                                <a class="entry-link" aria-label="post link to @post.Title"
                                   asp-page="/Blog/Article"
                                   asp-route-year="@published.Year"
                                   asp-route-month="@published.Month.ToString("00")"
                                   asp-route-day="@published.Day.ToString("00")"
                                   asp-route-slug="@post.Slug">
                                </a>
                            </div>
                        }
                    </div>
                </div>
            }
        </div>
    }
}